{{- if .Values.sso.idpmetadataurl }}
# Create the service account to use for the pod
apiVersion: v1
kind: ServiceAccount
metadata:
  name: configure-sso-certificate-secret-sa
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": hook-succeeded,hook-failed,before-hook-creation
---
# Create the role to ensure it can create k8s secrets; may need more if it needs to first check for the secret first
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: configure-sso-certificate-secret-role
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": hook-succeeded,hook-failed,before-hook-creation
rules:
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["create", "get", "patch"]
---
# Bind the role to the service account
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: configure-sso-certificate-secret-role-binding
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": hook-succeeded,hook-failed,before-hook-creation
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: configure-sso-certificate-secret-role
subjects:
- kind: ServiceAccount
  name: configure-sso-certificate-secret-sa
  namespace: {{ .Release.Namespace }}
---
# Job to fetch cert from url and create the secret
apiVersion: batch/v1
kind: Job
metadata:
  name: configure-sso-certificate-secret
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
  {{- range $key, $value := .Values.upstream.service.labels }}
    {{ $key }}: {{ $value | quote }}
  {{- end }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    "helm.sh/hook-weight": "-5"
spec:
  template:
    metadata:
      name: configure-sso-certificate-secret
      labels:
        app: {{ template "sonarqube.name" . }}
        heritage: {{ .Release.Service }}
        release: {{ .Release.Name }}
      {{- range $key, $value := .Values.upstream.service.labels }}
        {{ $key }}: {{ $value | quote }}
      {{- end }}
    spec:
      serviceAccountName: configure-sso-certificate-secret-sa
      restartPolicy: OnFailure
      imagePullSecrets:
        - name: {{ .Values.image.pullSecret }}
      containers:
        - name: configure-sso
          image: {{ .Values.sso.image | default "registry1.dso.mil/ironbank/big-bang/base:2.1.0" }}
          securityContext: {{- toYaml .Values.sso.containerSecurityContext | nindent 12 }}
          command: 
            - /bin/sh
            - -c
            - |
              set -e
              
              # Set values to use to make sure job doesn't go on forever if it fails
              max_retries=10
              retry_count=0
              sso_url="{{ .Values.sso.idpmetadataurl }}"

              # Wait for the given SAML IdP metadata url to exist and give data back
              while [ "$retry_count" -lt "$max_retries" ]; do
                http_code=$(curl -s --max-time 5 -o /dev/null -w "%{http_code}" "$sso_url")
              
                if [ "$http_code" -eq 200 ]; then
                  echo "IdP URL is live..."
                  break
                else
                  retry_count=$((retry_count + 1))
                  echo "Waiting for IdP metadata..."
                  sleep 10
                fi
              done
              
              if [ "$retry_count" -ge "$max_retries" ]; then
                echo "Failed to reach IdP URL $sso_url"
                exit 1
              fi

              # Use the IDP_URL to get the metadata XML and extract the required certificate
              echo "Attempting to retrieve certificate..."
              sso_certificate=$(curl -s "$sso_url" | yq --xml-keep-namespace=false --xml-attribute-prefix="" -p xml -o yaml | yq .EntityDescriptor.IDPSSODescriptor.KeyDescriptor.KeyInfo.X509Data.X509Certificate)

              # Create or patch existing secret
              kubectl create secret generic sonarqube-sonarqube-secret --from-literal=secret.properties="sonar.auth.saml.certificate.secured=$sso_certificate" -n sonarqube --dry-run=client -o yaml | kubectl apply -f -

              echo "DONE creating sso ceritificate secret..."
          resources:
            {{ toYaml .Values.sso.resources | nindent 12 }}    
{{- end }}

